.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,330px));
    justify-content: center;
    grid-gap: 4rem;
    margin: 20rem 2rem;
    z-index: 10;
    position: relative;
}

.load__more {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
.load__more--btn {
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--colorWhite);
    border: 0.1rem solid var(--colorWhite);
    background-color: transparent;
    border-radius: 0.2rem;
    padding: 1.2rem 4rem;
    background-size: 250%;
    background-image: linear-gradient(
120deg,transparent,transparent 50%,var(--colorWhite) 0);
    transition: all .8s cubic-bezier(.23,1,.32,1);
    font-family: inherit;
}


.load__more--btn:hover {
    background-position: 100%;
    color: var(--blackColor)!important;
}